.profile__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-left: 30px;
    margin: 16px auto 0;
    max-height: 22px;
    overflow: hidden;
}

@media screen and (max-width: 720px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        display: flex;
        justify-content: center;
        margin: 14px 0 0 0;
        padding: 0;
    }
}
