.profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 30px;
    margin: 0 auto;
    max-width: 294px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 720px) {
    .profile__title {
        max-width: 189px;
        padding: 0;
        margin: 0;
        font-size: 27px;
        line-height: 33px;
    }
}
