.profile__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 22px;
}

@media screen and (max-width: 720px) {
    .profile__container {
        padding-top: 22.25px;
        justify-content: center;
    }
}
