.card__button-like {
    align-self: center;
    background: url("../../../images/like-button.svg");
    border: none;
    height: 19px;
    width: 22px;
}

.card__button-like:hover {
    cursor: pointer;
    opacity: 0.5;
}