@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/root/root.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__container/card__container.css);
@import url(../blocks/card/__button-like/card__button-like.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__opened/popup__opened.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__info/popup__info.css);
@import url(../blocks/popup/__item/popup__item.css);
@import url(../blocks/popup/__button-submit/popup__button-submit.css);
@import url(../blocks/popup/__title/popup__title.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
